# ignore file
*.o
.dirstamp
/build-aux
m4/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/easytag.1
/easytag
/easytag.desktop
/easytag.spec
/INSTALL
libtool
ltmain.sh
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/easytag.pot
/po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/id3lib/.deps/
src/id3lib/Makefile
src/id3lib/Makefile.in
src/id3lib/libid3bugfix.a
src/libapetag/.deps/
src/libapetag/Makefile
src/libapetag/Makefile.in
src/libapetag/libapetag.a
src/libmpg123/.deps/
src/libmpg123/Makefile
src/libmpg123/Makefile.in
src/libmpg123/libmpg123.a
stamp-h1
