# ignore file
*.lo
*.o
.dirstamp
.dstamp
.libs
/build-aux
m4/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
/data/easytag-nautilus.metainfo.xml
/data/org.gnome.EasyTAG.appdata.valid
/data/org.gnome.EasyTAG.appdata.xml
/data/org.gnome.EasyTAG.desktop
/doc/easytag.1
/doc/version.xml
/doc/easytag.1
/data/org.gnome.EasyTAG.gschema.valid
/doc/version.xml
/easytag
/easytag-*.tar.xz
/easytag-*-setup.exe
/easytag-win32-installer.nsi
/easytag.exe
/help/*/*.mo
/help/*/*.page
/help/*/*.stamp
/help/*/legal.xml
!/help/C
/INSTALL
/libnautilus-easytag.la
/libtool
/org.gnome.EasyTAG.enums.xml
/nautilus-extension/.deps
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/easytag.pot
/po/stamp-it
/src/.deps/
/src/tags/id3lib/.deps/
/src/tags/libapetag/.deps/
/src/tags/.deps/
/src/win32/.deps/
/src/win32/easytag.rc
/src/enums.c
/src/enums.h
/src/resource.c
/src/resource.h
/????-report.html
/????-report.xml
/test-suite.log
/tests/.deps/
/tests/test-*
!/tests/*.c
stamp-h1
