# ignore file
*.lo
*.o
.dirstamp
.dstamp
.libs
/build-aux
m4/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
/data/easytag.appdata.valid
/data/easytag.appdata.xml
/data/easytag.desktop
/doc/easytag.1
/doc/version.xml
/doc/easytag.1
/doc/version.xml
/easytag
/easytag-*.tar.xz
/easytag-*-setup.exe
/easytag-win32-installer.nsi
/easytag.exe
/INSTALL
/libnautilus-easytag.la
/libtool
/nautilus-extension/.deps
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/easytag.pot
/po/stamp-it
/src/.deps/
/src/id3lib/.deps/
/src/libapetag/.deps/
/src/win32/.deps/
/src/win32/easytag.rc
/????-report.html
/????-report.xml
/test-suite.log
/tests/.deps/
/tests/test-*
!/tests/*.c
stamp-h1
